<!-- <a routerLink="/active">响应式表单用法</a> -->
<p>模板驱动表单用法</p>
<p>双向绑定用法</p>
<div class="container">
    <h1>Hero Form</h1>
    <form #heroForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="myName" required>
        </div>

        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control" name="alterEgo" [(ngModel)]="myId">
        </div>

        <button type="submit" class="btn btn-success" (click)="show()">Submit</button>

    </form>
</div>
<p>ngForm用法</p>
<p>简单示例：</p>
<input #phone placeholder="phone number">
<button (click)="callPhone(phone.value)">Call</button>
<!-- 注意：ngModle伴随name，否则会报错 -->
<form #userForm="ngForm" (ngSubmit)="logForm(userForm)" novalidate>
    <label>姓名:</label>
    <input type="text" name="name" [(ngModel)]="user.name">
    <label>电话:</label>
    <input type="text" name="mobile" [ngModel]="user.mobile">
    <label>城市:</label>
    <input type="text" name="city" [ngModel]="user.city">
    <label>街道:</label>
    <input type="text" name="street" [ngModel]="user.street">
    <button type="submit">保存</button>
</form>
<p>ngModelGroup用法</p>
<form #userForms="ngForm" (ngSubmit)="logForm(userForms)">
    <label>姓名:</label>
    <input type="text" name="name" [(ngModel)]="users.name">
    <label>电话:</label>
    <input type="text" name="mobile" [ngModel]="users.mobile">
    <fieldset ngModelGroup="address">
        <label>城市:</label>
        <input type="text" name="city" [ngModel]="users.address.city">
        <label>街道:</label>
        <input type="text" name="street" [ngModel]="users.address.street">
        <button type="submit">保存</button>
    </fieldset>
</form>
<p>表单控件的验证和状态</p>
<!-- #name="ngModel"是核心 -->
<input type="text" name="name" [(ngModel)]="user.name" #name="ngModel" required minlength="3">
<span *ngIf="name.pristine" class="label label-primary">未修改</span>
<span *ngIf="name.dirty" class="label label-warning">已修改</span>
<span *ngIf="name.valid" class="label label-success">有效</span>
<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
<p *ngIf="name.errors?.minlength">姓名最小长度为3</p>
<p *ngIf="name.errors?.required">必须输入姓名</p>
</div>
<!-- 不用#name="ngModel" -->
<!-- 重置表单 -->
<form #userFormss="ngForm" *ngIf="active">
    <input type="text" name="mobile" [ngModel]="user.mobile" required minlength="11" maxlength="11">
    <span *ngIf="userFormss.controls.mobile?.pristine" class="label label-primary">未修改</span>
    <span *ngIf="userFormss.controls.mobile?.dirty" class="label label-warning">已修改</span>
    <span *ngIf="userFormss.controls.mobile?.valid" class="label label-success">有效</span>
    <div [hidden]="userFormss.controls.mobile?.valid" class="alert alert-danger">
    <p *ngIf="userFormss.controls.mobile?.errors?.minlength">电话长度必须为11</p>
    <p *ngIf="userFormss.controls.mobile?.errors?.required">必须输入电话</p>
    </div>
    <button (click)="reset(userFormss)">重置</button>
</form>
<!-- 总结
至此，有关模型驱动的表单的基本用法大致完成，再总结一下模型驱动的表单的基本特性：

所有的表单控件的定义都在模板里
所有的验证器都在模板里面添加
表单数据的状态、验证结果都在模板上通过判断表单里面控件数据的状态来显示
如果需要测试这部分的代码，需要使用e2e（端到端）测试，也就是在浏览器里面 -->
